body{
  margin:60px 8px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lexend Deca', sans-serif;
}
button{
  background:hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;

}
h3{
  font-size: 2.5rem;
  font-family: 'Lexend Deca', sans-serif;
}

.vehicle:nth-of-type(1){
border-radius:8px 8px 0 0;
}
.vehicle:nth-of-type(3){
border-radius:0 0 8px 8px;
}
.vehicle{
  width:70%;
  max-width: 300px;
padding:30px;
}
.learnMore{
  cursor:pointer;
  border-style: none;
  padding:10px 25px;
  border-radius: 50px;
}

.sedans{
  background: hsl(31, 77%, 52%);
  color:hsla(0, 0%, 100%, 0.75);
}
.sedan-button{
  color:hsl(31, 77%, 52%);
}
.suvs{
  background: hsl(184, 100%, 22%);
  color:hsla(0, 0%, 100%, 0.75);
}
.suvs-button{
  color:hsl(184, 100%, 22%);
}
.luxury{
  background: hsl(179, 100%, 13%);
  color:hsla(0, 0%, 100%, 0.75);
}
.luxury-button{
  color:hsl(179, 100%, 13%);
}
@media (min-width:950px) {
  body{
    margin:auto;
    align-items: center;
      min-height: 100vh;
flex-direction: row;
justify-content: center;
  }
  .learnMore{
    margin:60px auto 40px;
    padding:15px 30px;
  }
  .info{
    width:90%;
    /* border:2px solid pink; */
  }
  .vehicle{
    width:70%;
    padding:30px 30px 30px 40px;
    max-width: 250px;
    /* border:2px solid blue; */
  }
  .vehicle:nth-of-type(1){
  border-radius:8px 0 0 8px;
  }
  .vehicle:nth-of-type(3){
  border-radius:0 8px 8px 0;
  }
}
